{{!-- <h1>{{title}}</h1>
<p>Welcome to icecream {{title}}</p> --}}

<ul>
    <p class="siv"> SIV CREAM</p>
  <li><a  href="#home">HOME</a></li>
  <li><a href="#">ABOUT</a></li>
  <li><a href="#">CONTACT</a></li>
 <li><a href="#">BUY PAGE</a></li>
</ul>

<div style="margin-left:25%;padding:1px 16px;height:1000px;">
   <center><h2> WELCOME TO OUR SHOP</h2></center> 
    
  <div class="gallery">
  <a target="_blank" href="img_5terre.jpg">
    <img src="images/2.jpeg" alt="Cinque Terre" width="300" height="200">
  </a>
  <div class="desc">VANILLA</div>
  <center><button style="background-color:blue;color:aliceblue">BUY NOW</button></center><br>
</div>

<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
     <img src="images/3.jpeg" alt="Cinque Terre" width="300" height="200">
  </a>
  </a>
  <div class="desc">KULFI</div>
  
  <center><button style="background-color:blue;color:aliceblue">BUY NOW</button></center><br>
</div>

<div class="gallery">
  <a target="_blank" href="img_lights.jpg"> 
    <img src="images/4.jpeg" alt="Cinque Terre" width="300" height="200"><br>
  </a>
  </a>
  <div class="desc">ICEBAR</div>
  <center><button style="background-color:blue; color:aliceblue">BUY NOW</button></center><br>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg"> 
    <img src="images/5.jpeg" alt="Cinque Terre" width="300" height="200">
  </a>
  </a>
  <div class="desc">STABERRY</div>
  
  <center><button style="background-color:blue; color:aliceblue">BUY NOW</button></center><br>
</div>